* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    /* colors */
    --text: white;
    --color-top: black;
    --second-color: #282828;
    --jimmie-color: #610400;
}

header {
    display: flex;
    position: sticky;
    top: 0;
}

body {
    max-width: 100%;
    background-image: url("./assets/img/IMG_20210808_163400.webp");
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(10px);
    height: 1000px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    box-shadow: black -3px 2px 8px;
    width: 100%;
    height: 40px;
    align-items: center;
    background-color: var(--jimmie-color);
    color: var(--text);
    opacity: 0.7;
    transition: 0.5s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar:hover {
    opacity: 1;
}

.novedades {
    font-size: 15px;
    font-weight: 400;
}

/* -----------------INTRO -------------------- */

.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.intro-container h3 {
    color: yellow;
    font-size: 30px;
    text-shadow: #282828 -6px 5px 5px;
    margin-bottom: 50px;
}

.logo-container {
    background-color: whitesmoke;
    width: 165px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 90px;
    margin: 30px;
}

.logo {
    display: flex;
    max-width: 90px;
    transition: transform 0.8s;
}

.logo:hover {
    transform: rotateY(360deg);
}

.text {
    font-size: 30px;
    font-weight: 600;
}

/* ------------------LINKS---------------------- */

.links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    gap: 20px;
}

.link-card {
    padding: 15px;
}

.link {
    display: flex;
    flex-direction: column;
    color: var(--text);
}

.boton {
    max-width: 500px;
    width: 350px;
    margin: 0 auto;
    border: 1px solid var(--second-color);
    padding: 15px;
    background-color: var(--color-top);
    color: var(--text);
    box-shadow: var(--color-top) -6px 5px 5px;
    border-radius: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    font-weight: 500;
    transition: 0.5s all;
}

.boton:hover {
    transform: scale(1.1);
    font-weight: 750;
}

.cat:hover {
    border: solid yellow 1.5px;
    color: yellow;
}

.face:hover {
    border: solid rgb(35, 75, 250) 1.5px;
    color: rgb(35, 110, 250);
}

.ig:hover {
    border: solid purple 1.5px;
    color: rgb(206, 28, 206);
}

.spoti:hover {
    border: solid lime 1.5px;
    color: lime;
}

/* -----------FOOTER -------- */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--second-color);
    max-width: 100%;
    height: 150px;
    margin: 150px 0;
    box-shadow: var(--color-top) 1px -2px 5px;
}

.footer-text {
    display: flex;
    flex-direction: column;
    color: var(--text);
    text-shadow: var(--color-top) -3px 3px 8px;
    font-size: 10px;
    font-weight: 200;
    gap: 10px;
}

.footer-text span {
    color: cadetblue;
}
